.circle-log-in.btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 8px ;
    font-size: 20px;
    border-radius: 25px;
    /*margin-left: -20px;*/
    background-color: #999999;
  }
  
  .circle-cart.btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 8px ;
    font-size: 20px;
    border-radius: 25px;
    /*margin-right: -20px;*/
    background-color: #999999;
  }
  
  
  
  .borde-log-in{
      background-color: #B3B3B3;	
      width: 100px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      float: right;
      cursor: pointer;
  }
  
  .borde-cart{
      background-color: #B3B3B3;	
      width: 100px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      float: left;
      cursor: pointer;
  }